body{
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
background-color:black;
/* background-color: aliceblue; */
background-image: url("sky.jpg" ) ;
background-size:150%;
background-repeat: no-repeat;
/* background-size: cover; */
background-size: width 50px height 100px;
text-align: center;
/* border: 10px solid transparent; */

font-family: 'Edu SA Beginner', cursive;
color: aquamarine;
/* border-image: url(grass.png) 100% round;
border-image-repeat: repeat; */
/* border-radius: 20px; */
/* border-style: dashed; */
/* border-width: 50px;
border-image-slice: 30;
border-image-repeat: repeat; */

}
h2{
    margin-top: 0px;

    
}

.l2{
    position: absolute;
    right: 0%;
    height: 60%;
    width: 30%;
    top: 0%;

}
.p{
 
 right:0px;
 position: absolute;
 /* left: 42%; */
 bottom: 0%;
 height:60%;
 right: 10%;

}
.l1{
    position: absolute;
    left: 0%;
    height: 60%;
    width: 30%;
    top: 0%;

}
.intr{
    padding: 5%;

}
.grass{
position: absolute;
bottom: 0%;
left: 0%;
width: 100%;
height: 30%;
}
/* .myphoto{
    position:absolute;
    margin-top: 900px;
} */
.second{
    position: absolute;
    margin-top: 40%;
    width: 100%;
   
}
.experience{
    width:34%;
    float: right;
    position: relative;
    /* right: 20%; */
    
}
.exdiv{
    padding-top: 17%;
    padding-right: 20%;
    padding-bottom: 11%;
    /* position: relative;
    top: 150px; */
    padding-left: 20%;
    position:relative;
    display: inline-block;
    /* max-width: 100%; */
}
.skills{
    width:35%;
    float: left;
}
.project{
    width: 40%
    ;
    position: relative;
    float: left;
    margin-right: 200px;
}
.myintro{
    line-height: 1;
    word-spacing: 5px;
    font-size: 30px;
}
.head{
    color: antiquewhite;
    font-family: 'Edu SA Beginner', cursive;
line-height: 2;
font-size: 50px;
margin-bottom: 0;
margin-top: 50px;
}
.s{
    padding-top: 17%;
    padding-left: 20%;
    padding-bottom: 17%;
    padding-right: 20%;
}
.sh{
    position: absolute;
    left: 0;
    right: 0;
    top: 21%;
    
}
.inli{
    display: inline-block;
}
a{
    line-height: 2;
    word-spacing: 5px;
    font-size: 30px;

}
.exdivinner{
     display: inline-block;
     position: relative;
     /* left: 20%;
     top: 10%; */
     right: 150px;
    }
    .expos{
        position: absolute;
        top: 0px;
        margin-top: 0;
        left: 0;
        right: 0;
    }
   
    .projectw{
        display: inline-block;
        position: relative;
    }
    
     #projecthead{
        position: absolute;
        top: 0;
        margin-bottom: 150px;
        left: 0;
        right: 0;
     }
     a{
color: aquamarine;

     }
     .bottom{
        background-color:#495C83;
        color: beige;
        /* font-family: 'Courier New', Courier, monospace; */
     }
     .cd{
        color: beige;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1em;
     }
     #email{
        font-size: 1em;
     }
     .introduction
     {padding: 5%;
        position:relative;
        top: 160px;
        word-spacing: 4px;
        letter-spacing: 2px;
        font-size: 3em;
        color: burlywood;
       
     }
     #apro{
        color: chartreuse;
     }